* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary-cyan: hsl(158, 36%, 37%);
  --color-primary-hover-cyan: hsl(158, 36%, 45%);
  --color-primary-dark-cyan: hsl(158, 36%, 21%);
  --color-primary-cream: hsl(30, 38%, 92%);
  --color-neutral-dark-blue: hsl(212, 21%, 14%);
  --color-neutral-grayish-blue: hsl(228, 12%, 48%);
  --color-neutral-white: hsl(0, 0%, 100%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat";
  background-color: var(--color-primary-cream);
  font-size: 1.4rem;
}

.title {
  /* line-height: 1em; */
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
}

.icon {
  display: flex;
  position: relative;
  font-size: 1.8rem;
}

.icon::after {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  max-width: 1470px;
  padding: 0 1.5rem;
  margin: auto;
}